/* bendro pobudzio elementai, kuriuos galima naudoti skirtingose vietose, nepriklausomai nuo konteksto */
html {
    font-size: 87.5%; /* (14px on default browser settings) */
}

h1 {
    font-weight: 600;
    font-size: 4.15rem;
    color: rgb(34, 34, 34);
    line-height: 5rem;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: rgb(34, 34, 34);
    line-height: 3rem;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
}

h3 {
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(34, 34, 34);
    line-height: 1.4rem;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
}

h4 {
    font-weight: 400;
    font-size: 1rem;
    color: rgb(34, 34, 34);
    line-height: 1.15rem;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
}

p {
    font-weight: 300;
    font-size: 1rem;
    color: rgb(119, 119, 119);
    line-height: 1.5rem;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
}

button {
    font-weight: 500;
    font-size: 1rem;
    background: linear-gradient(90deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
    color: rgb(255, 255, 255);
    line-height: 2.85rem;
    letter-spacing: 0;
    padding: 5px 30px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
}